.container {
  box-shadow: 0 0.25rem 0.5rem rgba(34, 34, 34, 0.08);
  border: 1px solid #ffc426;
  border-radius: 4px;
  max-width: 51.5rem;
  margin: auto;
  padding: 1.875rem 2.5rem;
}

@media only screen and (max-width: 995px) {
  .container {
    margin: 0 1.25rem;
  }
}
