.container {
  box-shadow: 0 0.25rem 0.5rem rgba(34, 34, 34, 0.08);
  border: 1px solid #ffc426;
  border-radius: 4px;
  max-width: 51.5rem;
  margin: auto;
  padding: 1.875rem 2.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 20px;
  padding: 8px;
  margin: 8px 4px;
  font-size: 14px;
  color: #222;
  border-radius: 6px;
  border: 1px solid #ffc426;
}

input::placeholder {
  font-size: 14px;
  color: #6d6e71;
  text-transform: capitalize;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #3d351f;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #a19d91;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 14px;
  border: 1px solid #ffc426;
  border-radius: 4px;
  padding: 12px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #a8a18e;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.select {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  max-width: 80%;
  margin: 8px 4px;
  border: 1px solid #ffc426;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("./arrow-down.png"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select::-ms-expand {
  display: none;
}
.select:hover {
  border-color: #888;
}
.select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px #ffc426;
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select option {
  font-weight: normal;
}

label {
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 995px) {
  .container {
    margin: 0 1.25rem;
  }
}
