.header {
  display: flex;
  margin-bottom: 3rem;
}

.title {
  text-transform: capitalize;
  padding: 1rem 2rem;
  background: #ffc426;
  margin-left: 2.5rem;
}

.title h1 {
  font-family: 'Raleway', sans-serif;
}
